.search-results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  transition: 0.3s opacity;

  .results-container {
    display: grid;
    gap: 3rem 1.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: 650px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
